---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}

          <div style="margin-top: 10px;">
            <a href="{{ post.url | relative_url }}">
              ...
            </a>
          </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">
            &lt;
          </a>
        {% else %}
          <span class="previous">&lt;</span>
        {% endif %}
        <span class="page_number ">
          | Strona {{ paginator.page }} z {{ paginator.total_pages }} |
        </span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
        {% else %}
          <span class="next ">&gt;</span>
        {% endif %}
      </div>
    {%- endif %}
  {%- endif -%}

  <div style="margin-top: 20px;">
    <p class="rss-subscribe">Subskrypcja <a href="{{ "/feed.xml" | relative_url }}"> RSS</a></p>
  </div>
</div>
