---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>


  <div style="width: 100%; max-width: 600px; font-family: Arial, sans-serif;">
    <div
      style="
        box-sizing: border-box;
        background-color: #FFFFFF;
        padding: 16px;
        border-radius: 16px;
        box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
        width: 100%;
        background-color: #FFFFFF;
        color: #000000DE;
        text-align: center;
      "
    >
      <h3 style="font-size: 15px; font-weight: 600; line-height: 1.5; margin: 0;">
        Postaw kawę za:
      </h3>
    </div>

    <div style="display: flex; gap: 8px; margin-top: 12px; justify-content: center;">

        <a
          href="https://buycoffee.to/kbuszewicz?coffeeSize=small"
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px;
            border-radius: 16px;
            box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
            width: 100%;
            text-align: center;
            background-color: #FFFFFF;
            color: #000000DE;
            text-decoration: none;
          "
          target="_blank"
          title="Postaw kawę za: 5 zł"
        >
          <img src="https://buycoffee.to/static/img/icons/coffee-small.svg" alt="small coffee icon" style="width: 36px; height: 36px;">
          <span style="font-size: 15px; font-weight: 700; margin-top: 8px; line-height: 1.5;">
            5 zł
          </span>
        </a>

        <a
          href="https://buycoffee.to/kbuszewicz?coffeeSize=medium"
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px;
            border-radius: 16px;
            box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
            width: 100%;
            text-align: center;
            background-color: #FFFFFF;
            color: #000000DE;
            text-decoration: none;
          "
          target="_blank"
          title="Postaw kawę za: 10 zł"
        >
          <img src="https://buycoffee.to/static/img/icons/coffee-medium.svg" alt="medium coffee icon" style="width: 36px; height: 36px;">
          <span style="font-size: 15px; font-weight: 700; margin-top: 8px; line-height: 1.5;">
            10 zł
          </span>
        </a>

        <a
          href="https://buycoffee.to/kbuszewicz?coffeeSize=large"
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px;
            border-radius: 16px;
            box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
            width: 100%;
            text-align: center;
            background-color: #FFFFFF;
            color: #000000DE;
            text-decoration: none;
          "
          target="_blank"
          title="Postaw kawę za: 15 zł"
        >
          <img src="https://buycoffee.to/static/img/icons/coffee-large.svg" alt="large coffee icon" style="width: 36px; height: 36px;">
          <span style="font-size: 15px; font-weight: 700; margin-top: 8px; line-height: 1.5;">
            15 zł
          </span>
        </a>

    </div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
